@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Poppins:wght@400;500;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px;
}

.button-header {
    background: #6FBF44;
    width: 124px;
    height: 51px;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo-image {
   margin: 40px 0 0 123px;
   display: inline-block;

}

section {
    display: inline-block;
    margin-left: 86px;
    width: 493px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    letter-spacing: 0.596154px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4b505a;
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.p2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #6FBF44;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
    cursor: pointer;
    letter-spacing: 1px;
}

